{% extends 'base.html' %}
{% block content %}

<h2>🔍 Quality Inspection</h2>

<div style="display:flex; gap:20px; flex-wrap:wrap;">

    <div class="card">
        <h3>Status</h3>
        <p id="q_status">Waiting...</p>
    </div>

    <div class="card">
        <h3>Defect Count</h3>
        <p id="q_count">0</p>
    </div>

    <div class="card">
        <h3>Total Inspected</h3>
        <p id="q_total">0</p>
    </div>

</div>

<style>
.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    flex:1;
    min-width:200px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}
</style>

{% endblock %}