{% extends 'base.html' %}
{% block content %}

<h2>Mesh Inspection</h2>

<video id="video" autoplay playsinline style="width:100%;max-width:400px;"></video>
<canvas id="canvas" style="display:none;"></canvas>

<br><br>

<button onclick="inspectNow()">🔍 Inspect</button>

<h3 id="result">Waiting...</h3>

<br>

<label>Threshold:</label>
<input type="range" min="80" max="220" value="170"
oninput="brightnessThreshold=this.value">

<br>

<label>Min Hole Size:</label>
<input type="range" min="50" max="1000" value="200"
oninput="minHoleArea=this.value">

<script src="{{ url_for('static', filename='js/mesh_core.js') }}"></script>

<script>
  startCamera();
</script>

{% endblock %}