{% extends 'base.html' %}
{% block content %}

<h3>Store</h3>

<a href="/export">📥 Export Excel</a>

{% if low %}
<p style="color:red;">⚠ Low Stock: {{ low }}</p>
{% endif %}

<div class="card">
<table>
<tr><th>Part</th><th>Qty</th></tr>
{% for i in data %}
<tr>
<td>{{ i['part'] }}</td>
<td>{{ i['qty'] }}</td>
</tr>
{% endfor %}
</table>
</div>



<h3>Store</h3>

<a href="/export_excel" class="btn">⬇ Export Excel</a>

{% if low %}
<p style="color:red;">⚠ Low Stock: {{ low }}</p>
{% endif %}

<div class="card">
</div>

{% endblock %}