{% extends 'base.html' %}
{% block content %}

<h3>Inward Entry</h3>

<form method="post">
    <input name="part" placeholder="Part Number" value="{{ part }}" required>
    <input name="qty" placeholder="Quantity" required>
    <input name="type" placeholder="Raw / Supplier" required>
    <button>Add</button>
</form>

<br>

<table border="1">
<tr>
<th>Part</th>
<th>Qty</th>
<th>Type</th>
</tr>

{% for i in data %}
<tr>
<td>{{ i['part'] }}</td>
<td>{{ i['qty'] }}</td>
<td>{{ i['type'] }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}